<v-container pa-3
    class="grey lighten-5">
    <v-row no-gutters
        justify="center">
        <v-col md="4">
            <kta-add-task></kta-add-task>
        </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row no-gutters
        justify="center">
        <v-col md="12">
            <kta-tasks-list></kta-tasks-list>
        </v-col>
    </v-row>
</v-container>